@import 'colors';
* {
	box-sizing: border-box;
  vertical-align: baseline;
}
body {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 1.6rem;
  line-height: 1;
	overflow-wrap: break-word;
	background-color: $base-light-color;
}
html {
	font-size: 62.5%;
}
